<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title> Sielekthor </title>
  <meta charset="UTF-8">
  <title> Cari Barang</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="justify-content-center font-weight-bold">
       <h2>Cari Barang</h2> <br>

       <form th:action="@{/barang/cari}" method="GET">

       Tipe <br>
       <select name="tipe" class="form-control">
            <option th:each="tipe : ${listTipe}" th:value="${tipe.idTipe}" th:text="${tipe.namaTipe}"></option>
       </select>
       <br><br>

       Stok<br>
       <label>
            <input required type="radio" name="stok" value="1"/> Available
       </label>
       <br>
       <label>
            <input required type="radio" name="stok" value="0"/> Sold Out
       </label>

       <button class="btn btn-primary" type="submit">Cari</button>
       <a class="btn btn-primary" th:href="@{/barang}">Kembali</a>
       </form>
    </div>
  </div>

		<div th:if="*{listBarang.size() != 0}">
			<table class='table'>
				<thead class="bg-warning">
					<tr>
						<th>No</th>
						<th>Nama</th>
						<th>Harga</th>
						<th>Tipe</th>
						<th>Stok</th>
						<th></th>
						<th>Aksi</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="barang, iterationStatus : ${listBarang}" th:style="${iterationStatus.even} ? 'font-weight-bold;'">
						<td th:text="${iterationStatus.count}"></td>
						<td th:text="${barang.namaBarang}"></td>
						<td th:text="${barang.hargaBarang}"></td>
						<td th:text="${barang.tipe.namaTipe}"></td>
						<td th:text="${barang.stok}"></td>
						<td> <a class="btn btn-primary" th:href="@{/barang/} + ${barang.idBarang}">Lihat</a> </td>
						<td> <a class="btn btn-primary" th:href="@{/barang/ubah/} + ${barang.idBarang}">Update</a> </td>
						<td> <a class="btn btn-primary" th:href="@{/}">Delete</a> </td>
					</tr>
				</tbody>
			</table>
		</div>
            <div th:unless="*{listBarang.size() != 0}">
                <h2 th:text="'Tidak ada barang'"></h2>
            </div>
</div>
</body>

</html>